# Project: Which customer will respond to direct mail? 

 **by Group 7**

# Problem Context
Springleaf puts the humanity back into lending by offering their customers personal and auto loans that help them take control of their lives and their finances. Direct mail is one important way Springleaf's team can connect with customers whom may be in need of a loan.



Direct offers provide huge value to customers who need them, and are a fundamental part of Springleaf's marketing strategy. In order to improve their targeted efforts, Springleaf must be sure they are focusing on the customers who are likely to respond and be good candidates for their services.

Using a large set of anonymized features, Springleaf is asking you to predict which customers will respond to a direct mail offer. You are challenged to engineer construct new features and employ feature-selection methods to approach this dauntingly wide dataset.

# Importing Libraries

In [52]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import accuracy_score

# Mounting drive to fetch data

In [53]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [54]:
df_train = pd.read_csv('/content/drive/MyDrive/Mail_Project_Data/train.csv')
df_test = pd.read_csv('/content/drive/MyDrive/Mail_Project_Data/test.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,10,11,12,43,157,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,9,10,11,12,43,196,214,225,228,229,231,235,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
# Looking at training data set
df_train

           ID VAR_0001  VAR_0002  ...  VAR_1933  VAR_1934 target
0           2        H       224  ...    9998.0      IAPS    0.0
1           4        H         7  ...    9998.0      IAPS    0.0
2           5        H       116  ...    9998.0      IAPS    0.0
3           7        H       240  ...    9998.0       RCC    0.0
4           8        R        72  ...    9998.0    BRANCH    1.0
...       ...      ...       ...  ...       ...       ...    ...
80249  160768        R        12  ...    9998.0    BRANCH    0.0
80250  160773        R         2  ...    9998.0      IAPS    0.0
80251  160774        H        92  ...    9998.0    BRANCH    0.0
80252  160775        H        24  ...    9998.0    BRANCH    0.0
80253  160778        H        69  ...       NaN       NaN    NaN

[80254 rows x 1934 columns]

In [56]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80254 entries, 0 to 80253
Columns: 1934 entries, ID to target
dtypes: float64(1012), int64(871), object(51)
memory usage: 1.2+ GB

# Data Cleaning

In [57]:
total = df_train.isnull().sum().sort_values(ascending=False)
percent = (df_train.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

          Total   Percent
VAR_0840  80254  1.000000
VAR_0213  80254  1.000000
VAR_0207  80254  1.000000
VAR_0214  80246  0.999900
VAR_0157  79725  0.993408
VAR_0158  79095  0.985558
VAR_0205  79048  0.984973
VAR_0206  78992  0.984275
VAR_0167  78872  0.982780
VAR_0177  78420  0.977148
VAR_0159  77026  0.959778
VAR_0156  77026  0.959778
VAR_0209  75069  0.935393
VAR_0168  74313  0.925973
VAR_0178  73553  0.916503
VAR_0169  72401  0.902148
VAR_0166  72401  0.902148
VAR_0179  70563  0.879246
VAR_0176  70563  0.879246
VAR_0208  69631  0.867633

In [58]:
missing_data[missing_data["Total"] > 1]

          Total   Percent
VAR_0840  80254  1.000000
VAR_0213  80254  1.000000
VAR_0207  80254  1.000000
VAR_0214  80246  0.999900
VAR_0157  79725  0.993408
...         ...       ...
VAR_0088     33  0.000411
VAR_0087     33  0.000411
VAR_0086     33  0.000411
VAR_0085     33  0.000411
VAR_0084     33  0.000411

[525 rows x 2 columns]

# Removal of missing data from the set

In [59]:
df_train = df_train.drop((missing_data[missing_data['Total'] > 1]).index,1)
df_test = df_test.drop((missing_data[missing_data['Total'] > 1]).index,1)

In [60]:
df_train
#below we can see that missing data is removed and dataset is updated
#columns have been reduced from 1934 to 1409

           ID VAR_0001  VAR_0002  ...  VAR_1933  VAR_1934 target
0           2        H       224  ...    9998.0      IAPS    0.0
1           4        H         7  ...    9998.0      IAPS    0.0
2           5        H       116  ...    9998.0      IAPS    0.0
3           7        H       240  ...    9998.0       RCC    0.0
4           8        R        72  ...    9998.0    BRANCH    1.0
...       ...      ...       ...  ...       ...       ...    ...
80249  160768        R        12  ...    9998.0    BRANCH    0.0
80250  160773        R         2  ...    9998.0      IAPS    0.0
80251  160774        H        92  ...    9998.0    BRANCH    0.0
80252  160775        H        24  ...    9998.0    BRANCH    0.0
80253  160778        H        69  ...       NaN       NaN    NaN

[80254 rows x 1409 columns]

In [61]:
df_train["target"].unique()

array([ 0.,  1., nan])

In [62]:
df_train.select_dtypes(include=['O'])
#Displaying categorical columns with fixed numner of values

      VAR_0001 VAR_0005 VAR_1934
0            H        C     IAPS
1            H        B     IAPS
2            H        C     IAPS
3            H        C      RCC
4            R        N   BRANCH
...        ...      ...      ...
80249        R        N   BRANCH
80250        R        C     IAPS
80251        H        B   BRANCH
80252        H        B   BRANCH
80253        H        B      NaN

[80254 rows x 3 columns]

In [63]:
df_train["VAR_0001"].unique()

array(['H', 'R', 'Q'], dtype=object)

In [64]:
#Conversion of categorical values to numerical
df_train['0001H'] = df_train['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_train['0001R'] = df_train['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_train['0001Q'] = df_train['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_train.pop("VAR_0001")

df_test['0001H'] = df_test['VAR_0001'].map({'H': 1, 'R': 0, 'Q': 0})
df_test['0001R'] = df_test['VAR_0001'].map({'H': 0, 'R': 1, 'Q': 0})
df_test['0001Q'] = df_test['VAR_0001'].map({'H': 0, 'R': 0, 'Q': 1})
df_test.pop("VAR_0001")

0       R
1       R
2       R
3       R
4       H
       ..
1888    R
1889    H
1890    H
1891    Q
1892    H
Name: VAR_0001, Length: 1893, dtype: object

In [65]:
df_train["VAR_0005"].unique()

array(['C', 'B', 'N', 'S'], dtype=object)

In [66]:
df_train['0005C'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005B'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005N'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train['0005S'] = df_train['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_train.pop("VAR_0005")

df_test['0005C'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005B'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005N'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test['0005S'] = df_test['VAR_0005'].map({'C': 1, 'B': 0, 'N': 0, 'S': 0})
df_test.pop("VAR_0005")

0       B
1       C
2       C
3       B
4       C
       ..
1888    B
1889    B
1890    C
1891    N
1892    N
Name: VAR_0005, Length: 1893, dtype: object

In [67]:
df_train["VAR_1934"].unique()

array(['IAPS', 'RCC', 'BRANCH', 'MOBILE', 'CSC', nan], dtype=object)

In [68]:
#Converting categorical to numeric
df_train['1934_IAPS'] = df_train['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_RCC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_train['1934_BRANCH'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_train['1934_MOBILE'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_train['1934_CSC'] = df_train['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_train.pop("VAR_1934")

df_test['1934_IAPS'] = df_test['VAR_1934'].map({'IAPS': 1, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_RCC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 1, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 0})
df_test['1934_BRANCH'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 1, 'MOBILE': 0, 'CSC': 0})
df_test['1934_MOBILE'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 1, 'CSC': 0})
df_test['1934_CSC'] = df_test['VAR_1934'].map({'IAPS': 0, 'RCC': 0, 'BRANCH': 0, 'MOBILE': 0, 'CSC': 1})
df_test.pop("VAR_1934")

0         IAPS
1         IAPS
2         IAPS
3         IAPS
4         IAPS
         ...
1888    BRANCH
1889    BRANCH
1890      IAPS
1891    BRANCH
1892       NaN
Name: VAR_1934, Length: 1893, dtype: object

In [69]:
sum(df_train.select_dtypes(include=['O']))

0

# Replenishing missing data

In [70]:
df_train = df_train.fillna(-1)
df_test = df_test.fillna(-1)

In [71]:
df_train['target1'] = df_train["target"]
df_train.pop('target')
df_train

           ID  VAR_0002  VAR_0003  ...  1934_MOBILE  1934_CSC  target1
0           2       224         0  ...          0.0       0.0      0.0
1           4         7        53  ...          0.0       0.0      0.0
2           5       116         3  ...          0.0       0.0      0.0
3           7       240       300  ...          0.0       0.0      0.0
4           8        72       261  ...          0.0       0.0      1.0
...       ...       ...       ...  ...          ...       ...      ...
80249  160768        12         5  ...          0.0       0.0      0.0
80250  160773         2         0  ...          0.0       0.0      0.0
80251  160774        92       142  ...          0.0       0.0      0.0
80252  160775        24        38  ...          0.0       0.0      0.0
80253  160778        69         0  ...         -1.0      -1.0     -1.0

[80254 rows x 1418 columns]

# Training using XGBoost Classifier

In [72]:
featureNames = df_train.columns[1:-1]

In [81]:
df_train = df_train.sample(n=20000)
#Training through XGBoost Classifier
dtrain = xgb.DMatrix(df_train[featureNames].values, label=df_train['target1'].values)

param = {'max_depth':2, 
         'eta':1, 
         'objective':'binary:logistic', 
         'eval_metric': 'auc'}
clf = xgb.train(param, dtrain, 20)

#Prediction in batches due to memory constraints
submission = df_test[['ID']]
submission['target1'] = np.nan
step = len(submission)/10000
#for rows in range(0, len(submission), int(step)):
    #submission.loc[rows:rows+step, "target"] = clf.predict(xgb.DMatrix(df_test.loc[rows:rows+step, featureNames].values))


submission.to_csv("xgboost_submission.csv", index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]